!!!html5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/style.css")
    %link(rel="stylesheet" type="text/css" href="/top.css")
    %link(rel="stylesheet" type="text/css" href="/content.css")
    %link(rel="stylesheet" type="text/css" href="/footer.css")
    %script(type="text/javascript" src="/script.js")
  %body(class="#{settings.environment}")
    #container
      = haml :header

      %section#content
        = yield

      = haml :footer
