#content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 50px;

  font-size: 20px;
  font-family: "Avenir Next W02 Light", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content > h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-family: "Avenir Next W02 Thin", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#content > .highlight {
  margin: 20px 0;
  padding: 10px;
  background: 0px;
  border-left: 3px solid rgb(5, 225, 255);
  font-size: 16px;
}

#content p {
  padding: 20px 0;
}


#content img {
  display: block;
  margin: 0 auto;
}




body.development #content {
  background: yellow;
}

body.development #content img {
  border: 5px solid blue;
}
